.idea
.vscode
__pycache__/
.ipynb_checkpoints
budsoutlier.png
first_layer.png
four_cluster_outlier.png
outlier_keypoints.jpg
temptacles.png
tree.png
voynich_manuscript.pdf
scanned-jpgs
scanned-pages
zalgo.png
.DS_Store